<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>Bienvenue sur ma To-Do List !</h1>
    <p>Ceci est la page d'accueil de votre application.</p>



    <h2>Filtrer les tâches</h2>
    <form method="GET" action="/">
        <button type="submit" name="filter" value="all">Toutes</button>
        <button type="submit" name="filter" value="completed">Complètes</button>
        <button type="submit" name="filter" value="incomplete">Non complètes</button>
    </form>
    


    <h2>Ajouter une Tache</h2>
    <form action="/" method="POST">
        <input type="text" name="task" placeholder="Entrez une nouvelle tache">
        <button type="submit">Ajouter</button>
    </form>

    <h2>Mes Tâches :</h2>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.task }}
                <a href="/complete/{{ task.id }}">
                    {% if task.completed %} Réinitialiser {% else %} Compléter {% endif %}
                </a>
                
                
                <a href="/delete/{{ task.id }}">Supprimer</a>


            </li>
        {% endfor %}
    </ul>
    
    
</body>
</html>
